################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/TP1_OneHealt/copilot-chat/10050014/sessions
/.vs/TP1_OneHealt/CopilotIndices/17.13.431.34963
/.vs/TP1_OneHealt/FileContentIndex
/Gateway/bin/Debug/net9.0/dados
/Sensor/obj/Debug/net9.0
/Gateway/obj/Debug/net9.0/Gateway.sourcelink.json
/Gateway/obj/Debug/net9.0/Gateway.csproj.BuildWithSkipAnalyzers
/Servidor/bin/Debug/net9.0/dados_servidor
/Servidor/obj/Debug/net9.0
/.vs/TP1_OneHealt/v17/DocumentLayout.backup.json
